/* #container {
    width: 100%;
    margin: 5em auto;
    padding: 0;
    background:#fff;
}

.items {
    max-width:50px;
    height:60px;
    background:#ECECEC;
}

#left, #right { 
    margin: 30px;
}
body {
    background: #ECECEC;
} */
.carousel-container {
    cursor: grab;
    height: 100%;
    overflow: auto;
    width: 100%;
    display: flex;
    margin-right: 0;
}
.carousel-container {
    cursor: grab;
    height: 100%;
    overflow: auto;
    width: 100%;
    display: flex;
    margin-right: 0;
}
.carousel-item {
    margin-right: 0;
}