<div class="iq-card">
    <div class="iq-card-header d-flex justify-content-between align-items-center">
        <div class="iq-header-title">
            <h4 class="card-title">Top Rated Movies </h4>
        </div>
        <div id="top-rated-item-slick-arrow" class="slick-aerrow-block"></div>
    </div>


    <carousel >
        <div class="carousel-cell"  *ngFor="let movies of movies">
            <img src={{movies.image_url}}>
        </div>     
    </carousel>

    <!-- <div class="iq-card-body">
        <ul class=" row top-rated-item mb-20">

            <div *ngFor="let movies of movies">
                <li class="col-sm-6 col-lg-6 col-xl-4 iq-rated-box">
                    <div class="iq-card mb-">
                        <div class="iq-card-body p-0">
                            <div class="iq-thumb">
                               <a href="javascript:void(0)">
                                    <img src={{movies.image_url}} class="img-fluid w-100 img-border-radius" alt="">
                                </a>
                            </div>
                            <div class="iq-feature-list">
                                <h6 class="font-weight-600 mb-0">{{movies.title}}</h6>
                                <p class="mb-0 mt-2">{{movies.genre}}</p>
                                <div class="d-flex align-items-center my-2">
                                    <p class="mb-0 mr-2"> {{movies.year}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>

        </ul>
    </div> -->

</div>
<!-- 
<div id="container">
    <div
      ng2-carouselamos
      class="slides-wrapper"
      [items]="items"
      [width]="900"
      [$prev]="prev"
      [$next]="next"
      [$item]="item"
    >
    </div>
  
    
  <ng-template #prev>
    <img src="assets/images/left-arrow.png" id="left" />
  </ng-template>
  <ng-template #next>
    <img src="assets/images/right-arrow.png" id="right" />
  </ng-template>
  <ng-template #item >

      <div class="items" *ngFor="let movies of movies">
        <img src={{movies.image_url}}>
      </div>

  </ng-template> -->